<!--<app-search-->
<!--  (resultOutput)="resultOutputMetod($event)"-->
<!--  (resultRepo)="getArrRepo($event)"-->
<!--&gt;</app-search>-->
<!--<app-card-->
<!--  [result]="result"-->
<!--  [resultRepo]="arrRepo"-->
<!--&gt;</app-card>-->

<!--<app-search (resultRepo)="getArrRepo()"></app-search>-->
<app-search></app-search>

<!--<div-->
<!--  *ngIf="(resultRepo | async) as response"-->
<!--&gt;-->
<!--  <ul>-->
<!--    <li *ngFor="let responseInner of response.items">-->
<!--      <p>Name {{ responseInner.name }}</p>-->
<!--    </li>-->
<!--  </ul>-->

<!--</div>-->
