<app-search
  (inputValue)="inputValue($event)"
  (buttonClick)="buttonClick($event)"
></app-search>

<div class="" *ngIf="(resultRepo$ | async) as response">

  <ng-container *ngIf="response.items.length; else noData">
    <ul class="card">
      <li class="card__item" *ngFor="let item of response.items">
        <img [src]="item.owner.avatar_url" alt="www" class="card__img"/>
        <a class="card__name">{{ item.name | titlecase }}</a>
        <div class="card__body">
          <p class="card__description">{{ item.description }}</p>
        </div>
      </li>
    </ul>
  </ng-container>
  <ng-template #noData>
    <p>Данных нет</p>
  </ng-template>

</div>

<div>
  Загрузка...
</div>
